<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @libretum.nombre %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @libretum.tlf %>
</p>

<p>
  <strong>Correo:</strong>
  <%= @libretum.email %>
</p>

<%= link_to 'Edit', edit_libretum_path(@libretum) %> |
<%= link_to 'Back', libreta_path %>
